<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-2" href="#">Pathology</a>

    <div class="navbar-collapse">
    </div>

    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle me-2" data-bs-toggle="dropdown">
            Anurag Katiyar
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user me-2"></i>Your Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-gears me-2"></i>Settings</a></li>
        </ul>
    </div>
</nav>
