nav{
    height: 100%;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    cursor: pointer;
}


.side-nav-button:hover{
    background-color: #ffffff33;
    border-radius: 20%;
}



