<div class="dashboard-header">
    <div class="btnComponent">
        <div class="Component">
            <h1 class="Component-header">Lab Technician</h1>
        </div>
        <div >
            <button class="btn"><i class="fa-regular fa-plus me-1"></i>Add Lab Technician</button>
        </div>
    </div>
    <div class="Component">
        <div class="topnav">
            <a href="#home">Lab Technician</a>
            <a href="#news">Lab Technician List</a>
          </div>
    </div>
</div>
