<div class="maincard">
    <div class="picturecontent">
        <div class="profilephoto">
            <img [src]="imageUrl" alt="" (error)="handleImageError()" #profileImage>
            <i class="fa-solid fa-user-doctor icon-placeholder" *ngIf="!imageUrl"></i>
        </div>        
        <div class="profileeditbutton">
            <div (click)="openImageUpload()" class="edit">
                <i class="fa-solid fa-pen-to-square"></i> Edit Profile
            </div>
            <div class="saperator">
                |
            </div>
            <div class="delete" (click)="openClearImage()">
                <i class="fa-solid fa-trash"></i> Clear
            </div>
        </div>
    </div>
    <div class="card">
        <!-- General Information Card -->
        <div class="card-header">
            <div>
                General Information
            </div>
            <div>
                <i class="fa-solid fa-caret-up" [class.rotate-icon]="!isRotate" (click)="toggleCard(1)"></i>
            </div>
        </div>
        <div class="card-content" [ngStyle]="{ 'height.px': isExpanded ? cardHeight : 0 }">
            <form class="doctorform" #doctorForm="ngForm">
                <div class="generalinfo-left">
                    <div class="row1">
                        <label for="name">Name:</label>
                        <select id="namePrefix">
                            <option value="mr">Mr.</option>
                            <option value="mrs">Mrs.</option>
                            <option value="ms">Ms.</option>
                        </select>
                        <input type="text" id="name" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" required>
                    </div>
                    <div>
                        <label for="country">Country:</label>
                        <select id="country" required (change)="onCountryChange($event)">
                            <option *ngFor="let country of addressMater.countries" [value]="country.id"
                                [selected]="selectedCountry?.id === country.id">{{ country.name }}</option>
                        </select>
    
                        <label for="state" class="dropdown">State:</label>
                        <select id="state" required (change)="onStateChange($event)">
                            <option *ngFor="let state of selectedCountry?.states" [value]="state.id"
                                [selected]="selectedState?.id === state.id">{{ state.name }}</option>
                        </select>
    
                        <label for="city" class="dropdown">City:</label>
                        <select id="city" required>
                            <option *ngFor="let city of selectedState?.cities" [value]="city.id">{{ city.name }}</option>
                        </select>
                    </div>
                </div>
    
                <div class="generalinfo-right">
                    <div>
                        <label for="mobile">Mobile:</label>
                        <input type="tel" id="mobile" required>
                    </div>
                    <div>
                        <label for="address">Address:</label>
                        <input type="text" id="address" required>
                    </div>
                    <div>
                        <label for="gender">Gender:</label>
                        <select id="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
    
                        <label for="age">Age:</label>
                        <input type="text" id="age" required>
    
                        <select id="Ageunit" required>
                            <option value="Month">Month</option>
                            <option value="Year">Year</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    
        <!-- Qualification Card -->
        <div class="card-header">
            <div>
                Qualification
            </div>
            <div>
                <i class="fa-solid fa-caret-up" [class.rotate-icon]="!isRotate" (click)="toggleCard(2)"></i>
            </div>
        </div>
        <div class="card-content" [ngStyle]="{ 'height.px': isExpanded2 ? cardHeight2 : 0 }">
            <form class="doctorform" #qualificationForm="ngForm">
                <div class="generalinfo-left">
                    <div>
                        <label for="degree">Degree:</label>
                        <input type="text" id="degree" required>
                    </div>
                    <div>
                        <label for="experience">Experience:</label>
                        <input type="text" id="experience-years" required> Years
                        <input type="text" id="experience-months" required> Months
                    </div>
                </div>
    
                <div class="generalinfo-right">
                    <div>
                        <label for="speciality">Speciality:</label>
                        <input type="text" id="speciality" required>
                    </div>
                </div>
            </form>
        </div>
    
        <!-- Form Buttons -->
        <div class="formbuttons">
            <button class="cancelbutton">Cancel</button>
            <button type="submit" class="submitbutton" [disabled]="!doctorForm.valid || !qualificationForm.valid">Save</button>
        </div>
    </div>
                     
</div>

<input type="file" accept="image/*" #imageInput style="display: none" (change)="uploadImage($event)">
