<div class="main">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="text-center">
                      <h1>Pathology Login</h1>
                      <h6>Please Enter Email & Password</h6>
                  </div>
                  <form>
                      <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        <!-- <div id="emailHelp" class="msg">We'll never share your email with anyone else.</div> -->
                      </div>
                      <div class="mb-3">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <button type="submit" class="btn" (click)="onLoginButtonClick()">Login</button>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                      </div>
                    </form>
              </div>
          </div>
      </div>
     
  </div>
</div>