<div class="main">
    <div class="dashboard-header">
        <div class="btnComponent">
            <div class="Component">
                <h1 class="Component-header">Hospital</h1>
            </div>
            <div >
                <button class="btn"><i class="fa-regular fa-plus me-1"></i>Add Hospital</button>
            </div>
        </div>
        <div class="Component">
            <div class="topnav">
                <a routerLink="/hospital/add-hospitals" routerLinkActive="active">Add Hospitals</a>
                <a routerLink="/hospital/hospital-list" routerLinkActive="active">Hospitals List</a>
              </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
