<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus=$event;" *ngIf="!loginstatus"></app-header>

    <main>
        <app-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}" *ngIf="!loginstatus"></app-sidebar>

        <div class="display-area" [ngClass]="{'display-area-shrink':sideNavStatus}" *ngIf="!loginstatus">
            <router-outlet></router-outlet>
        </div>
    </main>
    <app-login *ngIf="loginstatus"></app-login>
</div>

