<div class="main">
    <div class="dashboard-header">
        <div class="btnComponent">
            <div class="Component">
                <h1 class="Component-header">Doctor</h1>
            </div>
            <div >
                <button class="btn"><i class="fa-regular fa-plus me-1"></i>Add Doctor</button>
            </div>
        </div>
        <div class="Component">
            <div class="topnav">
                <a routerLink="/doctor/add-doctor" routerLinkActive="active">Add Doctors</a>
                <a routerLink="/doctor/doctor-list" routerLinkActive="active">Doctors List</a>
              </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
